
<h2>Ordenação por preço</h2>
<table class ="table table-bordered">
  <thead>
      <tr>
          <th>Produto</th>
          <th>Descricao</th>
          <th>Valor</th>
      </tr>
  </thead>
  <tbody>
    <%= render @produtos%>
 </tbody>
</table>