<html>
    <head></head>
    <body>
       <table>
           <tbody>
              <thead>
                  <tr>
                      <th>Produto</th>
                      <th>Descricao</th>
                      <th>Valor</th>
                      <th>Quantidade</th>
                  </tr>
              </thead>
               <tr>
                   <td>Camiseta geek</td>
                   <td>Cmseta para os geeks, BBT</td>
                   <td>20</td>
                   <td>10</td>
               </tr>
               <tr>
                   <td>Camiseta gastronomia</td>
                   <td>Camiseta com todos os restaurantes do Brasil</td>
                   <td>40</td>
                   <td>8</td>
               </tr>
           </tbody>
       </table>
        
    </body>
</html>
